/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%; /* Ensure the body and html take up the full height */
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

header .tagline {
    font-size: 1.2rem;
    color: #7f8c8d;
}

main {
    flex: 1; /* Allows the main section to grow and take up remaining space */
}

/* Pomodoro Options Styles */
#pomodoro-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pomodoro-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
    text-align: center;
}

.pomodoro-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

.pomodoro-card p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #7f8c8d;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}

/* Settings Styles */
#pomodoro-settings {
    margin-top: 20px;
}

#timer-settings, #alarm-settings {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Footer Styles */
footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    width: 100%;       /* Ensure the footer takes up full width */
    position: fixed;   /* Fix the footer at the bottom of the viewport */
    left: 0;           /* Align the footer to the left edge */
    right: 0;          /* Align the footer to the right edge */
    bottom: 0;         /* Position the footer at the bottom */
}

/* Responsive Design */
@media (max-width: 768px) {
    #pomodoro-options {
        flex-direction: column;
    }

    .pomodoro-card {
        width: 100%;
        margin-bottom: 10px;
    }
}
